@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100;600&display=swap');


*,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
  background-color: lightcyan;
	color: $base-font-color;
  font-family: $body-font;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: $base-line-height;

//   @media #{$mq-medium} {
//     font-size: $base-font-size*1.2;
//     line-height: $base-line-height*1.2;
//   }

//   @media #{$mq-large} {
//     font-size: $base-font-size*1.6;
//   }

//   @media #{$mq-xlarge} {
//     font-size: $base-font-size * 1.8
//   }

//   @media #{$mq-xxlarge} {
//     font-size: $base-font-size*2;
//   }
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.overflow-wrapper{
	overflow-x: hidden;
	overflow-y:hidden;
}

a {
  color: $dark;
  transition: color $base-transition-duration $base-transition-timing;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($base-accent-color, 10%);
  }
}

ul {
  padding: 0;
  list-style: none;
}


.btn{
    display: flex;
    margin-top: 3vw;

    span,
    a{
        padding: $base-font-size*.5;
        display: flex;
        background-color: $dark;
        align-items: center;
        border-radius: 50px;
        @include transition;

      p{
        color:$light;
        font-weight:500;
        line-height: 1em;
        margin: 0 $base-font-size*0.8;
        @include transition;
        white-space: nowrap;
        text-transform: capitalize;
      }
      div{
        background-color: $light;
        border-radius: 50px;
        padding: 30px 16px;
        svg{
          fill: $dark;
          width: 20px;
        }
      }
    //   &:hover{
    //     @include transition;
    //     flex-direction: row-reverse;

    //   }
    }



  
  }






//////////////
/// 
/// 
/// 
/// 
/// 
/// 
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: $light;
    //hamburger size
    .bx-lg{
        font-size:3em;
    }
    //hamburger icon
    .bx-menu{
        display: block;
        z-index: 20;
        margin-left: 20px;
        &.rotate-icon{
            transform: rotate(90deg);
        }
    }



    .navbar .nav-links-wrapper ul.links .sub-menu{
        display: none;
    }

    // .navbar .nav-links-wrapper.show2 ul.links .environment-sub-menu,
    // .navbar .nav-links-wrapper.show1 ul.links .solutions-sub-menu,
    // .navbar .nav-links-wrapper.show3 ul.links .community-sub-menu {
    //     display: flex;
    //     flex-direction: column;
    // }

    // .navbar .nav-links-wrapper.show2 ul.links .environment-arrow,
    // .navbar .nav-links-wrapper.show1 ul.links .solutions-arrow,
    // .navbar .nav-links-wrapper.show3 ul.links .community-arrow {
    //     transform: rotate(180deg);
    // }


      //mobile navigation .click event in js. Desktop based on hover
      .navbar .nav-links-wrapper ul.links .link.active .sub-menu{
        display: flex;
        flex-direction: column;
    }

    .navbar .nav-links-wrapper ul.links .link.active .arrow {
        transform: rotate(180deg);
    }


    .navbar {
        display: flex;
        align-items: center;
        position: relative;
        margin: auto;
        width: 100%;
        padding:10px 20px;

        .logo-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            // padding: 20px;
            z-index: 20;
            a{
                img{
                    max-width: 80px;
                }
            }
        }

        .arrow {
            text-align: center;
            display: inline-block;
            transition: all .2s ease-in;
            z-index: 10;
            position: relative;
        }



        .nav-links-wrapper {
            position: fixed;
            left: 0;
            top: -100%;
            display: block;
            width: 100%;
            padding: 20px;
            transition: all 0.5s ease;
            z-index: 10;
            // height: calc(100vh - 100px);
            overflow: scroll;
            background-color: $light;
        }
        

        ul.links {
            display: block;
            margin: 0px;
            li.link{
                padding: 1em;
                border-bottom: 1px solid $grey;
                .arrow,
                > a{
                    font-size: 6vw;
                    line-height: 1em;
                }
                .arrow{
                    position: absolute;
                    right: 20px;
                }
            }
        }

        .sub-menu{
            position: relative;
            top: 0;
            margin-top: 0;
            display: none;
            li{
                .header-intro{
                    margin-top:$md;
                    p{
                        margin-bottom: 0;
                    }
                }
                .content{
                    display: flex;
                    flex-direction: column;
                    padding: 1vw 2vw;
                    border-bottom: 1px solid red;
                }
                &:last-of-type{
                    .content{
                        border-bottom-width: 0;
                    }
                }

            }
        }
    }
}


@media (min-width: 1024px) {
  nav{
    .navbar{
        justify-content: center;
        .logo-wrapper {
            width: unset;
            padding: 0;
        }
        .bx-menu {
            display: none;
    
        }
        .nav-links-wrapper {
            justify-content: center;
            position: static;
            left: unset;
            top: unset;
            display: flex;
            padding: unset;
            height: 60px;
            overflow: unset;
            z-index: revert-layer;
            background-color: unset;
        } 



        ul.links{
            display: flex;
            margin-top:0;
            li.link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                border-bottom-width: 0;
                padding: 0 $base-font-size 0 0;
                .arrow{
                    position: relative;
                    right: unset;
                    font-size: inherit;
                }
                //top level nav
                a:not(.sub-menu a){
                    padding-left: 20px; 
                    padding-right:5px;
                    z-index: 10;
                    position: relative;
                    font-size:inherit;
                    line-height: inherit;
                }

                .sub-menu {
                    position: absolute;
                    top:-100vh;
                    left: 0;
                    background: $light;
                    display: flex;
                    flex-wrap: wrap;
                    z-index: -10;
                    width: 100%;
                    height:calc(100vh - 100px);
                    max-height: calc(100vh - 100px);
                    overflow: hidden;
                    transition:top .25s ease-in;
                    transition-delay:.25s; 
                    .new-wrapper{
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center; 
                        width: 100%;
                        a{
                            padding: 0;
                        }
                    }
                    .content{
                        border-bottom-width: 0;
                        text-align: center;
                        align-items: center;
                    }
                }
            }

            .link:hover{
                > .arrow{
                    transform: rotate(180deg);
                    transition: all .2s ease-in;
                    z-index: 10;
                    position: relative;
                }

                .sub-menu{
                    transition-delay:.25s; 
                    display: flex;
                    top:100px;
                    transition:top .5s ease-in;
                    z-index: -10;
                }
            }
        }    
    }
  }
}





  

    #container{
        background-color: blue;
        overflow: hidden; 
        height: 100vh;
        .centered-hero{
            .pad-all{
                height: 100%;
                background-color: azure;
                padding: 3vw;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            h2{
                font-size:25px;
                margin-bottom: $base-font-size*.5;
            }
            h3{
                font-size:20px;
                margin-bottom: 0;
            }
            .pad-all{
                padding:3vw;
            }

        &#getstarted,
        &#space,
        &#team,
        &#results{
            position: absolute;
            width: 100vw;
            top: 0;
        }
            
        }

        .section-solutions{
            display: flex;
        justify-content: center;
        .box{
            margin: $base-font-size*.5;
            padding: 20px;
        }
        .align-right{
            display: flex;
        }
        .btn{
            margin-top: 0;
        }
        }

        #results{
            .centered-hero{
                justify-content: flex-start;
            }
            .pad-top-btm{
                padding: 0;
            }
            .pad-all{
                padding-bottom: 0;
            }
            .third{
                margin: 10px 0;
            }
            .grid {
                margin:0 auto;
                transform: scale(.8);
                .color-shape{
                    text-align: center;
                    .btn{
                        font-size: 16px;
                    }
                    img{
                        transform: scale(.8);
                    }
                }
            }

            .try-again{
                margin-top: 0;
                font-size: 16px;
                transform: scale(.9);
            }

            h2{
                margin-bottom: 0;
            }

        }


        @media #{$mq-small}{
            .centered-hero{
                h2{
                    font-size:40px;
                    margin-bottom: $base-font-size*.5;
                }
                h3{
                    font-size:30px;
                    margin-bottom: 0;
                }
            }

            #results{
                h3{
                    margin-bottom: 40px;
                }

            }

            .section-solutions{
                .box{
                    padding: 3vw;
                }
            }

            .box .flex-wrap.style{
                flex-direction: row;
                justify-content: space-between;
                .flex-wrap.col{
                    justify-content: flex-end;
                    
                }
            }
        }

        @media #{$mq-medium}{
            .box .flex-wrap.style{
                flex-direction: column-reverse;
                justify-content: space-between;
            }
            .section-solutions .box{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            .section-solutions{
                text-align: center;
                .btn{
                    margin-top: $base-font-size;
                }
            }
            
        }

        @media #{$mq-medium}{
            .centered-hero{
                h2{
                    font-size:$base-font-size*4; 
                }
                h3{
                    font-size:$base-font-size*1.8; 
                }
            }

            .box .flex-wrap.style{
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            .section-solutions .box{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
            }

            .third{
                margin: 3vw 0;
            }

            img{
                max-height:6vw;
            }

            #results{
                h2{
                    margin-bottom:3vw
                }
                .grid{
                    transform: scale(1);
                }
                .try-again{
                    margin-top: 2vw;
                    transform: scale(1);
                }
            }
        }

   .centered-hero{
        #getstarted,
        #space,
        #team,
        #results{
            display:none;
            position: relative;
            z-index: 1;
            background-color: red;
            &.active{
                display:block;
                z-index: 2;
            }
            &.active2{
                display:none;
                z-index: 0;
            }
        }
        #hero{
            position: relative;
            z-index: 3;
            &.active2{
                display:none;
                z-index: 0;
            }
        }

    }
}











 













